.cabecalho {
    background-color: black;
    padding: 2em 4em 2em 4em;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
}

.cabecalho__menu {
    display: flex;
    color: white;
    gap: 7em;
    font-weight: 700;
    justify-content: center;
}

.cabecalho__menu__link:hover {
    color: #dbdadc;
}

@media screen and (max-width: 520px) {
    .cabecalho {
        padding: 0.5em 1em 0.5em 1em;
        font-size: 12px;
    }
    .cabecalho__menu {
        gap: 2em;
        font-weight: 400;
        align-items: center;
    }
}