.introduction {
    padding: 0.5em;
    display: flex;
    align-items: center;
    position: static;
}

.Logo-introduction {
    height: 40px;
    width: 40px;
    margin: 0.9em;
}

.titulo-introduction {
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 30.3px;
    font-weight: 300;
    letter-spacing: 5px;
}

.titulo-introduction__div {
    width: 100%;
}

@media screen and (max-width: 520px) {
    .titulo-introduction {
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .Logo-introduction {
        height: 20px;
        width: 20px;
        margin: 0.4em;
    }
}