.apresentacao {
    background-image: url("../assets/Background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    padding: 2em 7em 4em 7em;
    text-align: center;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    padding: 0 5em 5em 5em;
    text-align: center;
}
